<form action="/api/productos" method="POST" enctype="multipart/form-data">

  <div class="mb-2 text-center">
    <label for="nombre" class="form-label small">Nombre</label>
    <input type="text" name="nombre" class="form-control form-control-sm">
  </div>

  <div class="mb-2 text-center">
    <label for="descripcion" class="form-label small">Descripción</label>
    <input type="text" name="descripcion" class="form-control form-control-sm">
  </div>

  <div class="mb-2 text-center">
    <label for="precio" class="form-label small">Precio</label>
    <input type="number" name="precio" class="form-control form-control-sm">
  </div>

  <div class="mb-2 text-center">
    <label for="categoria" class="form-label small">Categoría</label>
    <input type="text" name="categoria" class="form-control form-control-sm">
  </div>

  <div class="mb-2 text-center">
    <label for="stock" class="form-label small">Stock</label>
    <input type="number" name="stock" class="form-control form-control-sm">
  </div>

  <div class="mb-3 text-center">
    <label for="imgProductos" class="form-label small">Imagen</label>
    <input type="file" name="imgProductos" class="form-control form-control-sm">
  </div>

  <button type="submit" class="btn btn-danger w-100 btn-sm">Agregar producto</button>
  <a href="/admin/dashboard" class="btn btn-secondary w-100 mt-2 btn-sm">Cancelar</a>

</form>
