<div class="d-flex gap-3 no-print">
    <form action="/api/ticket/pdf" method="post" class="flex-fill" target="_blank">
        <input type="hidden" name="id" value="<%= ticket.id %>">
        <button type="submit" class="btn btn-danger">Descargar PDF</button>
    </form>

    <button onclick="cerrarSesion()" class="btn btn-outline-secondary"> Salir </button>
</div>
